# Copy this file to `.env` and fill in one of the API keys below.
# Available keys (pick one):
#   363d4fa1af679bc6a1fce4cff42e0a9d
#   54a934fa20b1ccc3a5bd1d2076f90556
#   5593acd695caab1a3805c3af8532df09

VITE_JOTFORM_API_KEY=
